.header {
  background-color: black;
  color: yellow;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
}

.logo {
  text-align: center;
  flex: 1;
}

.logo a {
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
}

.navigation ul {
  list-style-type: none;
  display: flex;
  margin-right: 16px;
}

.navigation li {
  margin-right: 16px;
}

.navigation a {
  text-decoration: none;
  color: yellow;
  transition: all 0.2s ease;
}

.navigation a:hover {
  transform: scale(1.05);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.search-bar {
  display: flex;
  align-items: center;
  padding: 10px;
}

.search-bar input[type="text"] {
  padding: 5px;
  margin-right: 5px;
  width: 200px;
  border-radius: 5px;
  border: none;
}

.search-bar button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: white;
}